#activity{
    width:100%;
    height:12rem;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
    padding-top:1px;
    position: relative;
}
#activity .last_name{
    width: 2.5rem;
    font-size: 0.34rem;
    color: #000;
    font-weight: bold;
    margin-top:1.6rem;
    margin-left:1.1rem;
}
#activity .jump_one{
    display:block;
    width:5rem;
    margin:0 auto;
    margin-top:8.5rem;
}
#activity .jump_one.subject_btn{
    margin-top:1.2rem;
}
#activity .jump_one img{
    display: block;
    width:100%;
}
#activity .last_money{
    width:100%;
    height:1.27rem;
    margin:0 auto;
    margin-top:1.3rem;
    display: flex;
    justify-content: center;
}
#activity .last_money img{
    display: block;
    height:1.27rem;
    margin:0 0.1rem;
}
#activity .last_random{
    display: block;
    width:auto;
    height:2.35rem;
    margin-left:1.2rem;
}
#activity .last_result{
    font-size: 0.3rem;
    color: #333;
    text-align: center;
    margin:.4rem 0;
}
#activity .subject{
    width:100%;
    height:auto;
    padding-top:1.08rem;
}
#activity .subject .subject_name{
    width:2.4rem;
    height:0.8rem;
    border-radius: 0.5rem;
    border: 0.04rem solid #333;
    background: #fce05e;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#activity .subject .subject_name img{
    height:0.42rem;
}
#sub{
    width:100%;
    height:auto;
}
#sub .sub_li{
    position: relative;
}
#sub .sub_li.active .ash{
    display: block;
}
#sub .sub_li.active .li{
    background: #fce05e;
}
#sub .sub_li.active .li .letter{
    background: #fce05e;
}
#sub .sub_li.active .li .heart{
    display: block;
}
#sub .sub_li .ash{
    width:5.6rem;
    height:1.08rem;
    border-radius: 0.5rem;
    background: #afafaf;
    position: absolute;
    z-index: 1;
    bottom:-0.05rem;
    left:0;
    right:0;
    margin:auto;
    display: none;
}
#sub .sub_li .li{
    width:5.6rem;
    height:1.08rem;
    border-radius: 0.5rem;
    border:2px solid #333;
    margin:0 auto;
    margin-top:0.5rem;
    background: #fef9df;
    position: relative;
    text-align: center;
    line-height: 0.48rem;
    z-index: 2;
}
#sub .sub_li .content{
    font-size: 0.28rem;
    color: #000;
}
#sub .sub_li .letter{
    position: absolute;
    width:0.48rem;
    height:0.48rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #333 ;
    background: #fff;
    top:-0.24rem;
    left:0.1rem;
    transition: 0.3s ease all;
}
#sub .sub_li .letter.active{
    background: #fce05e;
}
#sub .sub_li .letter img{
    display: block;
    width:0.22rem;
}
#sub .sub_li .heart{
    width:0.65rem;
    position: absolute;
    right:0.3rem;
    top:-0.38rem;
    display: none;
}


.subject .progress_bar{
    width:3.8rem;
    height:0.14rem;
    border-radius: 0.2rem;
    border:1px solid #fc725e;
    background: #fff;
    margin:0 auto;
    margin-top:0.5rem;
}
.subject .progress_bar.One_step{
    margin-top:0.6rem;
}
.subject .progress_bar .progress_box{
    width:0;
    height:100%;
    border-radius: 0.2rem;
    background: #fc725e;
    transition: all cubic-bezier(0.43, 0.15, 0.43, 1.49) 0.5s;
}
#option{
    width:100%;
    height: auto;
    margin-top:0.67rem;
}
#option .input{
    width:5.55rem;
    height:1.04rem;
    border-radius: 0.5rem;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    padding-left:0.3rem;
    margin:0 auto;
    background: #fef9df;
    position: relative;
}
#option .input:nth-child(1){
    z-index: 100;
}
#option .input:nth-child(2){
    margin-top:0.55rem;
}
#option .input .icon{
    display: block;
    width:0.5rem;
}
#option .input .inputs{
    width:4.5rem;
    display: block;
    font-size: 0.34rem;
    font-weight: bold;
    padding-left:0.2rem;
    border: none;
    outline: none;
    background: #fef9df;
    text-align: left;
}
#option .text{
    font-size: 0.34rem;
    color: #333;
    text-align: center;
    margin-top:0.9rem;
}

#option .input .select{
    width:5.5rem;
    height:0;
    border: 0 solid #333;
    border-radius: 0.3rem;
    position: absolute;
    top:1rem;
    left:0;
    background: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}
#option .input .select.active{
    height:auto;
    border: 2px solid #333;
}
#option .input .select li{
    width:100%;
    height:0.6rem;
    padding-left:0.45rem;
    font-size: 0.3rem;
    line-height: 0.6rem;
    font-weight: bold;
}
#option .input .select li:hover{
    background: #fce05e;
}
#option .input .select li:last-child{
    border-radius: 0 0 0.3rem 0.3rem;
}
#option .input .select li:first-child{
    border-radius:0.3rem 0.3rem 0 0;
}

#images{
    position: absolute;
    top:0;
    left:0;
}

#Attention{
    width:100%;
    height:100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    top:0;
    left:0;
    z-index: 1001;
    display: none;
}
#Attention>.Attention{
    width:6.8rem;
    height:7.2rem;
    background: #fff;
    border-radius: .4rem;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    text-align: center;
}
#Attention>.Attention>h3{
    font-size:0.44rem;
    margin-top:0.9rem;
    font-weight: bold;
    color: #000;
    position: relative;
}
#Attention>.Attention>h3::after{
    position: absolute;
    content: '';
    width:1.04rem;
    height:2px;
    background:#ff6666 ;
    bottom:-0.3rem;
    left:0;
    right:0;
    margin:auto;
}
#Attention>.Attention>h2{
    font-size:0.3rem;
    margin-top:0.58rem;
    color: #000;
}
#Attention>.Attention>p{
    font-size:0.22rem;
    margin-top:0.5rem;
    color: #333;
    line-height: 0.35rem;
}
#Attention>.Attention>p>.c_ff{
    color: #ff6666;
}
#Attention>.Attention>.ewm{
    width:3.5rem;
    height:3.5rem;
    margin:0.6rem auto;
    border-radius: 0.1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 0.1rem 0.02rem rgba(0,0,0,0.2);
    position: relative;
}
#Attention>.Attention>.ewm>img{
    display: block;
    width:100%;
    height:100%;
}
#Attention>.Attention>.foot_b {
    width: 100%;
    height: 1.7rem;
    border-radius: 0 0 0.4rem 0.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f6f6f6;
}
#Attention>.Attention>.foot_b>span{
    display: block;
    margin-top: 0.35rem;
    color: #333;
    font-size: 0.26rem;
    line-height: 0.45rem;
}
#Attention>.Attention>.foot_b>span>.c_ff{
    color: #ff6666;
}